BOT_TOKEN="TG_BOT_TOKEN"
QDRANT_URL=http://qdrant-h4044w0c4sgg8gkgg80cg04s.io/
ADMINS=tg_id_admin_1,tg_id_admin_2,tg_id_admin_3
POSTGRES_URL=postgresql://user:pass@host:port/db_name

RUNNING_ENV = "LOCAL"
WEBHOOK_HOST = "http://localhost"
WEBAPP_HOST = "localhost"
WEBAPP_PORT = 5001
WEBHOOK_SECRET= "secret"

GOOGLE_SERVICE_ACCOUNT_BASE64 = BASE64_JSON_STRING

FULL_CONTENT_GOOGLE_DOCS_URL = https://docs.google.com/document/d/google_docs_file_id
